body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: black;
    background-color: ghostwhite;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.caixa {
    border-radius: 25px;
    box-shadow: 5px 5px 25px 5px rgba(46,61,73,0.2);
    /*box-shadow: 2px 2px 1px 1px gray;*/
    background-color: rgba(123, 183, 243, 0.2);
    border-top: 6px solid #10afbf;
    overflow: auto;
    margin-top: 40px;
    padding-bottom: 40px;
}

div.caixa {
    padding-top: 30px;
}


.col-md-4 {
    /*ESPACAMENTOS DAS CAIXAS*/
    padding-top: 15px;
}

.caixa img {
    border-radius: 20px;
    align-content: center;
    box-shadow: 5px 5px 25px 5px rgba(46,61,73,0.2);
    /*filter: grayscale(100%);*/
    /*border-radius: 30px;
    border-width: 40px;*/
    /*box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.2);*/
    /*box-shadow: 2px 2px 2px 1px #10afbf;*/
    background-color: aliceblue;
    /*border: 0,5px solid blue;*/
    overflow: auto;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    min-height: 190px;
}

/*.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    height: 250px;
    width: 2000px;
}*/

.img-responsive {
    width: 75%;
    margin-top: 10px;
}

.caixa img:hover {
    filter: none;
}


/*.caixa2 {
    border-radius: 30px;
    border-width: 40px;
    box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.2);
    box-shadow: 2px 2px 2px 1px #10afbf;
    background-color: white;
    border: 0,5px solid blue;
    overflow: auto;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 230px;
}*/



p {
    text-align: center;
}

.caixa2 img {
    margin-left:auto;
    margin-right:auto;

}

.caixa3 {
    border-radius: 25px;
    box-shadow: 5px 5px 25px 5px rgba(46,61,73,0.2);
    /*box-shadow: 2px 2px 1px 1px gray;*/
    background-color: rgba(123, 183, 243, 0.2);
    border-top: 6px solid #10afbf;
    padding-left:40px;
    /*margin-top: 40px;*/
    padding-top:40px;
    padding-bottom: 40px;
}