@model BancoSangue.Models.Imagem

<div class="col-xs-12 col-sm-6 selecionar" id="img-@ViewBag.Index">
    <div class="col-xs-12">
        <img width="100%" src="~/Content/@Model.caminho" />
    </div>
    <div class="form-group">
        <label class="control-label col-md-2 imgLegenda" for="Legenda">Legenda:</label>
        <div class="col-md-10">
            <input name="Imagem[@ViewBag.Index].Legenda" class="form-control text-box single-line imgLegendaTexto" id="Legenda" type="text" value="@Model.Legenda">
        </div>
    </div>
    <input name="Imagem.Index" type="hidden" value="@ViewBag.Index">
    <input name="Imagem[@ViewBag.Index].Caminho" id="Imagem[@ViewBag.Index].Caminho" type="hidden" value="@Model.caminho">
    <div class="form-group">
        <div class="col-md-10">
            <button class="btn btn-danger btn-delete" data-id="@ViewBag.Index">Deletar</button>
        </div>
    </div>
</div>